
#brush-logo
  display: inline
  float: left
  margin-top: -28px
  height: 100px
  width: 74px

.site-header
  height: 9vh
  background-color: #68ccf9
  .row
    height: 9h
  a.site-title
    position: relative
    top: 21px
    left: -10px
    margin-left: 5px
    font-family: "Proza Libre", sans-serif
    font-size: 22px
    letter-spacing: 1px
    color: black
