
ul.site-menu
  margin-top: -40px
  list-style: none
  background-color: #ddd
  &> li
    float: left
    height: 36px
    width: 90px
    margin-right: 7px
    margin-top: 35px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    background-color: black
    position: relative
    font-size: 11px
    cursor: pointer
    padding-top: 2px
    &> .page-link
      color: white
    &:hover
      -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
      -moz-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
      will-change: box-shadow
ul.drop-menu
    padding: 0
    margin: 0
    position: absolute
    top: 40px
    transform: translateY(-2em)
    z-index: 2
    width: 150px
  &> li:first-of-type
    -webkit-border-radius: 5px 5px 0 0
    -moz-border-radius: 5px 5px 0 0
    border-radius: 5px 5px 0 0
    margin-top: -16px
  &> li:last-of-type
    -webkit-border-radius: 0 0 5px 5px
    -moz-border-radius: 0 0 5px 5px
    border-radius: 0 0 5px 5px
    border-bottom: 1px solid grey
  &> li
    background: #F7F7F7
    color: rgba(255, 255, 255, 0.7)
    width: 150px
    height: 40px
    margin-left: -60px
    border-left: 1px solid grey
    border-right: 1px solid grey

ul.drop-menu li
  display: none
  // HIDE
li:hover > ul.drop-menu li
  display: block
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
  -moz-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
  will-change: box-shadow

  // SHOW
